body {
    background-image: url(../img/aboutbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

    a:hover {
        text-decoration: none;
        color: inherit;
    }

.highlight {
    color: #cc0000;
}

/* Sidebar */
#sidebar-wrapper {
    z-index: 1;
    position: fixed;
    width: 0;
    height: 100vh;
    overflow-y: auto;
    background: #cc0000;
    background-image: linear-gradient(#330000, #cc0000, #330000);
    opacity: 1;
    transition: all .5s;
    display: flex;
    align-items: center;
}

/* Main Content */
#page-content-wrapper {
    width: 100%;
    position: absolute;
    transition: all .5s;
}

.menu-btn {
    z-index: 5;
    position: fixed;
    top: 10px;
    left: 10px;
    transition: all .3s;
    font-size: 2em;
}

/* Change the width of the sidebar to display it */
#wrapper.menuDisplayed #sidebar-wrapper {
    width: 250px;
}

#wrapper.menuDisplayed #page-content-wrapper {
    padding-left: 250px;
}

@media screen and (max-width: 560px){
    #wrapper.menuDisplayed #sidebar-wrapper {
        height: 100%;
        width: 100vw;
        position: fixed;
        z-index: 3;
        opacity: 0.9;
    }

    #wrapper.menuDisplayed #page-content-wrapper {
        padding-left: 0px;
    }
    

    .sidebar-nav{
        top: 100px;
    }
}

/* Sidebar styling */
.sidebar-nav {
    position: absolute;
    padding: 0;
    list-style: none;
    transition: all .5s;
    width: 100%;
    text-align: center;
}

    .sidebar-nav li {
        line-height: 40px;
        width: 100%;
        transition: all .3s;
        padding: 10px;
    }

        .sidebar-nav li a {
            display: block;
            text-decoration: none;
            color: #fff;
        }

        .sidebar-nav li:hover a {
            opacity: 0.5;
            background-color: black;
        }

/* sec-header styling */

.sec-header {
    padding-left: 5px;
    font-weight: 500;
    position: relative;
    color: #cc0000;
}

    .sec-header:before {
        content: "";
        position: absolute;
        width: 8%;
        height: 70px;
        bottom: -20px;
}

/* sec-header vertical line */
.vl {
    border-left: 6px solid #cc0000;
    height: 70px;
}

/* home styling */
.home {
    align-items: center;
    display: flex;
    height: 800px;
    width: 100%;
    margin: 0 auto;
}

    .home img {
        border-radius: 50%;
        width: 15%;
        align-items: center;
        align-self: end;
        display: flex;
        margin: 0 auto;
        border: 4px solid #cc0000;
    }

    .home h1 {
        font-family: 'Montserrat', serif;
        font-size: 2.6rem;
        font-weight: 700;
        line-height: 1.1;
        text-transform: capitalize;
        margin: 0 auto;
        color:white;
    }

    .home h3 {
        font-family:'Bahnschrift, Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white
    }

    .home p {
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
        font-size: 1.20rem;
        font-weight: 500;
        letter-spacing: .2px;
        margin: 0 20% 0 20%;
        color: white;
        border-left: 2px solid white;
        padding-left: 10px;
    }

    .home a {
        color: white;
    }

    .home a:hover {
        color: #cc0000;
    }

@media screen and (max-width: 780px){
    .home img {
        width: 40%;
    }

    .home h1 {
        font-size: 2.2rem;
    }

    .home p{
        margin: 0 auto;
    }
}

/* education styling */
.education {
    align-items: center;
    display: flex;
    width: 100%;
    background-color: black;
    opacity: 0.9;
    color: white;
}

/* skills styling */
@media screen and (max-width: 1200px) {
    .skills img {
        display: none;
    }
}

.skills ul li {
    display: inline;
    padding: 10px;
}

    .skills ul li::before {
        content: "•";
        color: yellow;
        display: inline-block;
        width: 1em;
        margin-left: -1em
    }

/* experience styling */
.experience {
    background-color: black;
}

    .experience .block {
        float: right;
        padding-left: 40px;
        padding-right: 30px;
        padding-top: 10px;
        border: 2px solid;
        border-radius: 10px;
        background: #1D1F20;
    }

    .experience .block h4,
    .block span {
        display: inline;
    }

    .experience .block p,
    .block span {
        color: rgb(184, 183, 183);
    }

/* boder */
/*
.experience .block {
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
}

    .experience .block:after {
        content: '';
        position: absolute;
        top: calc(-1 * var(--borderWidth));
        left: calc(-1 * var(--borderWidth));
        height: calc(100% + var(--borderWidth) * 2);
        width: calc(100% + var(--borderWidth) * 2);
        background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
        border-radius: calc(2 * var(--borderWidth));
        z-index: -1;
        -webkit-animation: animatedgradient 3s ease alternate infinite;
        animation: animatedgradient 3s ease alternate infinite;
        background-size: 300% 300%;
    }


@-webkit-keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}*/

/* achivements styling */
.achivements .block {
    align-items: start;
    padding: 10px 0px 10px 0px;
}

.achivements .block p{
    padding-top: 6px ;
}

.achivements a:hover {
    text-decoration: none;
    opacity: 0.6;
}

/* hobbies styling */
.hobbies {
    background: black;
    opacity: 0.8;
    overflow-y: hidden;
    color: white;
}

/* contact styling */
.contact {
    overflow-y: hidden;
    background: linear-gradient(black, #330000);
    opacity: 0.8;
    color: white;
}

.contact h1 {
    font-family: 'Californian FB', serif;
    font-size: 3.0rem;
    font-weight: 600;
    line-height: 1.1;
    text-transform: capitalize;
    margin: 0 auto;
}

.contact h3 {
    font-family:'Bahnschrift, Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    color: #d41a49;
    font-weight: 500;
}

.contact p {
    font-size: 1.20rem;
    font-weight: 500;
    letter-spacing: .2px;
    line-height: 1.8;
    margin: 10 auto;
}
