*, *:before, *:after {
  box-sizing: inherit;
}

body { 
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  text-align: right;
  overflow: hidden;
  background-color: #2f3c51a1;
  padding: 20px 10px;
}

.header > img {
  float: left;
  width: 20%;
  box-shadow: 7px 7px 14px 5px #03042594;
}

.nav-bar, .dropdown{
  width: 100%;
  overflow: auto;
  background-color: #7eaef0;
  text-shadow: 1px 4px 11px black;
}

.nav-bar > a ,.dropdown {
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px; 
  line-height: 40px;
  border-radius: 4px;
  width: 20%;
}

.nav-bar > a:active {
  background-color: #0b4782;
  color: white;
}

.nav-bar > a:hover, .dropdown:hover , .nav-bar > a:focus, .dropdown:focus {
  color: white;
  background-color: #b3d9ff;  
}

/*.dropdown {
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px; 
  line-height: 40px;
  border-radius: 4px;
  width: 20%;
}

.dropdown .dropbtn {
  width: 100%;
  overflow: auto;
  background-color: #7eaef0;
  text-shadow: 1px 4px 11px black;
}*/

.dropdown-content {
  display: none;
  position: fixed;
  width: 20%;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover , .dropdown-content a:focus{
  background-color: #ddd;
  color: black;
}

.dropdown > a {
  text-decoration: none;
  color: black;
}

.nav-bar a.icon {
  display: none
}



/*.nav-ani {
  width: 100%;
  position: relative;
  animation: mymove 2s infinite;
}

@keyframes mymove {
  from {top: 600px;}
  to {top: 700px;}
}*/

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/*.overlay {
 display: none;
}*/
.closebtn {
 display: none;
}

.open {
  visibility:hidden;
  display: none;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content, .over-drop {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.over-drop-cont {
  display: none;
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.over-drop-cont a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.over-drop:hover .over-drop-cont, .over-drop:focus .over-drop-cont {
  transition-duration: 2s;
  display: block;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}



.home1 {
  display: flex;
}

.container1 {
  position: static;
  margin: 100px;
  max-width: 400px;
  padding: 16px 16px;
  border: 2px solid #d6a2a2;
}

.container1 > img {
  width: 70%;
  max-width: 400px;
  height: auto;
}

.container1 > .content1 {
  position: inherit; /* Position the background text */
  bottom: 0px; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  padding: 20px; /* Some padding */
}

.about {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.column {
  float: left;
  width: 32%;
  margin-bottom: 16px;
  padding: 0 4px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0px 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover , .button:focus {
  background-color: #555;
}

footer{
  text-align: center;
  padding: 20px;
  background-color: black;
  color: white;
  line-height: 20px;
}

footer .connect > a {
 font-size: x-large;
 text-decoration: none;
 color: white;
 transition: width ;
 transition-duration: 1s;
}

.connect {
 font-size: x-large;
}

.connect > a:hover, .connect > a:focus {
  opacity: 0.7;
  color: #99c2ff;
}

/*.homeimg {
  border-radius: 10%;
  height: 70%;
  margin: 100px;
  padding: 2px;
  border: 2px solid black;
}*/

footer > a:hover, footer > a:focus{
 text-decoration: underline;
 text-decoration-color: #99c2ff; 
 opacity: 0.6;
}

.email {
  display: contents;
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: -webkit-body;
}

#email{
 color: black;
}

.email:hover {
  text-decoration: underline;
  text-decoration-color: #99c2ff; 
  opacity: 0.6;
  text-shadow: 1px 4px 11px black;
}


@media screen and (max-width: 600px) {
 
	.header >img{
    	display: none;
  }
  .header{
    background-image: url("../img/cover2.jpg");
    background-size: cover;
    background-position:center; 
    height: 100%;
    opacity: 0.6;
  }
  .header {
    front-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: black;
    text-shadow: 2px 5px 11px white;
  }
  .header > h2{
    top: 70%;
    display: inline-table;
   }
   
   
@media screen and (max-width: 600px) {
 /*.navi-bar {
   background-color: white;
   opacity: 0.5;
  }
  
  .navi-bar a, .dropdown{
   display: none;
  }
 
  .nav-bar a, .dropdown {
    display: none;
  }
  
  .navi-bar a.icon {
    float: right;
    display: block;
    top: -480px;
  }*/
 
 .nav-bar{
  display: none
 }
  
  /*.sticky {
  position: fixed;
  top: -480px;
  width: 100%;
 }*/
  
}

@media screen and (max-width: 600px) {
 
 .open {
  background-color: white;
  width: 97.5%;
  padding: 2px;
  display: flex;
  justify-content: flex-end;
  visibility:visible ;
  position: fixed;
  top: 0;
  opacity: 0.4;
 }
}

@media screen and (max-height: 450px) {
 
 
 
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
  
  /*.closebtn {
   display: unset;
  }
  .overlay {
    display: unset; 
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }*/
}


@media screen and (max-width: 600px) {
  .nav-bar.responsive {position: relative;}
  .nav-bar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-bar.responsive a {
    position: relative; 
    float: none;
    display: block;
    text-align: left;
  }
  .nav-bar.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .nav-bar.responsive .dropdown {
    display: block;
    width: 100%;
    text-align: left;
  }
  .nav-bar.responsive .dropdown-content{
    position: relative;
  }
}

/*div {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation: mymove 2s infinite;
}

@keyframes mymove {
  from {top: -200px;}
  to {top: -150px;}
}*/


@media screen and (max-width: 900px){
 /*.home {
  background-image: url("home.jpeg");
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 0.8;
 }*/
 .home1 {
   display: unset;
 }
 
 .container1 {
  margin: 0 auto;
 }
 
 .about
 {
  margin: 0 auto;
  line-height: 0px;
  display: grid;
  justify-content: center;
 }
}

@media screen and (max-width: 600px){
  .container1 > img
 {
  display: none;
 }
}

@media screen and (max-width: 600px) {
  footer{
   height: 100%;
  }
}