body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

    a:hover {
        text-decoration: none;
        color: inherit;
    }

    .highlight {
        color: #cc0000;
    }
    

/* ---------- each section header style with underline ----------- */

.sec-header {
    font-weight: 200;
    position: relative;
    color: aliceblue;
}

    .sec-header:before {
        content: "";
        position: absolute;
        width: 8%;
        height: 1px;
        bottom: 0;
        left: 46%;
        border-bottom: 5px solid white;
    }

/* ---------- card styling ----------- */
.card {
    transition: 0.5s;
    cursor: pointer;
}

    .card:hover {
        transform: scale(1.05);
        box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
    }

/* ---------- header style ----------- */
.header {
    height: 750px;
    background-color: black;
    background: linear-gradient(#171534, black);
    color: white;
    margin-right: 0;
    margin-left: 0;
}

    .header .block-1 {
        align-items: center;
        display: flex;
        float: left;
        height: 600px;
        width: 100%;
        margin: 0 auto;
    }

        .header .block-1 h1 {
            font-family: 'Montserrat', serif;
            font-size: 3.4rem;
            font-weight: 700;
            line-height: 1.1;
            text-transform: capitalize;
            margin: 0 auto;
        }

        .header .block-1 p {
            font-size: 1.20rem;
            font-weight: 500;
            letter-spacing: .2px;
            line-height: 1.8;
            margin: 0 auto;
        }

        .header a:hover {
            color: dodgerblue;
        }

/* ---------- topimage style ----------- */
.topimage {
    background-image: url("../img/cover.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    float: right;
    height: 100%;
    width: 41%;
}

@media screen and (max-width: 990px) { 
    .topimage {
        display: none;
    }
}

/* -------- back to top btn ----------- */
.back-to-top {
    position: fixed;
    top: 650px;
    right: 10px;
}

@media screen and (max-width: 680px){
    .back-to-top {
        visibility: hidden;
    }
}
.back-appear {
    opacity: 0;
}

/* ---------- projects style ----------- */
.projects {
    overflow-y: hidden;
    background-color: #007bff;
    background: linear-gradient(black, #007bff, white);

}


/* ---------- projects ends ------------ */

/* ---------- blogs style ----------- */
.blogs .sec-header:before {
    border-bottom: 5px solid black;
}
/* ---------- blogs ends ----------- */


/* ---------- contact style ------------ */
.contact {
    background-color: #007bff;
    background: linear-gradient(white, #007bff, black);
}

.contact .block-1 {
    align-items: center;
    display: flex;
    float: left;
    width: 100%;
    margin: 0 auto;
}

.contact h1 {
    font-family: 'Californian FB', serif;
    font-size: 3.0rem;
    font-weight: 600;
    line-height: 1.1;
    text-transform: capitalize;
    margin: 0 auto;
}

.contact h3 {
    font-family:'Bahnschrift, Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    color: #191824;
    font-weight: 500;
}

.contact p {
    font-size: 1.0rem;
    font-weight: 500;
    margin: 0 auto;
    color: white;
}

.contact img {
    width: 100%;
    height: 80%;
}

/* ---------- footer style ------------ */

.footer {
    overflow-y: hidden;
}

    .footer a:hover {
        color: dodgerblue;
    }